streamlit>=1.38
SQLAlchemy>=2.0
bcrypt>=4.1
python-dotenv>=1.0
pandas>=2.0
itsdangerous>=2.1
streamlit-cookies-controller>=0.0.4
 
# Untuk production dengan PostgreSQL, tambahkan salah satu driver berikut
# (uncomment baris di bawah):
psycopg2-binary>=2.9
 